@charset "UTF-8";
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #000;
  font-family: 'DIN Alternate',YuGothic,'Yu Gothic','Arial',sans-serif;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

h4 {
  font-weight: lighter;
}

p {
  font-size: 1rem;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.all_container {
  position: relative;
}

section {
  margin-bottom: 6rem;
}

.hero {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 38rem;
  overflow: hidden;
}

.hero .hero_img {
  width: 100%;
  height: 100%;
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -9999px;
}

#about .content {
  text-align: center;
}

#about h2 {
  font-size: 1.8rem;
  color: #720101;
}

#about h3 {
  font-size: 3.5rem;
  line-height: 1.6;
}

#about p {
  font-size: 1.4rem;
  line-height: 2.5;
  margin: 5.3rem;
  text-align: left;
}

#about .con_text {
  margin: 6rem auto;
}

#about *,
#about *:before,
#about *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

#about .btn,
#about a.btn,
#about button.btn {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 2rem 5rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
}

#about a.btn-gradient {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0;
  background-color: #ffa01b;
  border-radius: 5rem;
}

#about a.btn-gradient:hover {
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
  color: #fff;
}

.corona {
  padding: 1rem;
  margin: 2rem;
  text-align: center;
  border: solid 1px #FF0000;
}

.corona a {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #999;
}

#work {
  text-align: center;
}

#work h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #720101;
}

#work h3 {
  background-image: url(../img/image001.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: 34rem;
  width: 34rem;
  height: 24rem;
  margin: auto;
  margin-bottom: 2rem;
  text-indent: -9999px;
}

#work h3:nth-of-type(2) {
  background-image: url(../img/image002.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: 34rem;
  width: 34rem;
  height: 24rem;
  margin: auto;
  margin-bottom: 2rem;
  text-indent: -9999px;
}

#work p {
  font-size: 1.4rem;
  line-height: 2.5;
  margin: 5.3rem;
  text-align: left;
}

#work .con_text {
  margin: 6rem auto;
}

footer {
  color: #fff;
  background-color: #fff;
}

footer p {
  text-align: center;
  padding: 2rem 0;
  color: #000;
  background-color: #fff;
}

@media (min-width: 749px) {
  body {
    background-image: url(../img/diamond_upholstery.png);
  }
  p {
    font-size: 1.2rem;
  }
  .all_container {
    max-width: 750px;
    margin: auto;
    top: initial;
    background-color: #fff;
  }
  .hero {
    height: 45rem;
  }
  .hero .hero_img {
    background-image: url(../img/hero_pc.png);
  }
  #about h2 {
    font-size: 2.2rem;
  }
  #about .con_text {
    margin: 4rem auto;
  }
  #about a.btn-gradient {
    border-radius: 6rem;
  }
  #about .btn, #about a.btn, #about button.btn {
    font-size: 2.8rem;
    padding: 3rem 15rem;
  }
  #work h3 {
    background-size: 59rem;
    width: 59rem;
    height: 40rem;
  }
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=index.css.map */