body{
    background-image: url(../img/diamond_upholstery.png);
}

p{
    font-size: 1.2rem;
}

.all_container{
    max-width: 750px;
    margin: auto;
    top:initial;
    background-color: $cWhite;
}

.hero{
    height: 45rem;
    .hero_img{
    background-image: url(../img/hero_pc.png);
    }
}

#about {
    h2{
        font-size: 2.2rem;
    }

    .con_text{
        margin: 4rem auto;
    }

    a.btn-gradient{
        border-radius: 6rem;
    }
}

#about .btn, #about a.btn, #about button.btn{
    font-size: 2.8rem;
    padding: 3rem 15rem;
}


#work{
    h3{
        background-size: 59rem;
        width: 59rem;
        height: 40rem;
    }
}